<%- include('../partials/header') %>

<h2>Please Enter a New Flight</h2>
<form action="/flights" method="POST">
    <label>Airline:
        <input type="text" name="airline">
    </label><br>
    <label>flight number:
        <input type="number" name="flightNo">
    </label><br>
    <label>Airport: 
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label><br>
    <label>Departs:
        <input type="date" name="departs">
    </label><br>
    <input type="submit" value="Add Flight">
</form>




<%- include('../partials/footer') %>